*{
    margin: 0;
    padding: 0;
}



#img-slider{
    background-color:darkolivegreen;
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider-icons{
    list-style: none;
    cursor: pointer;
}

.fa-backward{
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
}

.fa-backward:hover{
    background-color: white;
    color: darkolivegreen;
    border-radius: 100px;
}

.fa-forward{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
}

.fa-forward:hover{
    background-color: white;
    color: darkolivegreen;
    border-radius: 100px;
}

